.about_div{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
}
.div_banner_about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
}
.about_picture{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    opacity: 70%;
}
.div_card_info_about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .div_banner_about{
        border-radius: 15px;
    }
    .about_picture{
        border-radius: 15px;
    }
}


@media only screen and (max-width: 767px) {
    .about_picture{
        content:url(../assets/About_smart_img.png);
        height: 225px;
        border-radius: 10px;
    }
    .div_banner_about{
        border-radius: 10px;
    }
    .div_card_info_about{
        margin-top: 5%;
    }
}