@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.div_card_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    z-index: 1;
}
.title_card_info_lodging{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 3%;
}
.title_card_info_about{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-left: 3%;
}
.arrow{
    margin-right: 3%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .div_card_info{
        height: 40px;
    }
    .title_card_info_lodging{
        font-size: 18px;
    }
    .title_card_info_about{
        font-size: 18px;
    }
    .arrow{
        width: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .div_card_info{
        height: 30px;
    }
    .title_card_info_lodging{
        font-size: 13px;
    }
    .title_card_info_about{
        font-size: 13px;
    }
    .arrow{
        width: 12px;
    }
}