@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.none_card{
    display: none;
}
.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-top: -5%;
    border-radius: 10px;
}
.text_card_lodging{
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    width: 100%;
}
.text_card_about{
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    /*.card{
        padding-top: 15%;
        margin-top: -10%;
    }*/
    .text_card_lodging{
        font-size: 16px;
    }
    .text_card_about{
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .text_card_lodging{
        font-size: 12px;
    }
    .text_card_about{
        font-size: 12px;
    }
}