.div_carousel{
    display: flex;
    align-items: center;
    width: 100%;
}
.img_carousel{
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
.div_carousel_arrow{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 80%;
}
.back{
    margin-left: 2%;
}
.forward{
    margin-right: 2%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .img_carousel{
        height: 255px;
        border-radius: 15px;
    }
    .back{
        height: 40px;
    }
    .forward{
        height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .img_carousel{
        height: 255px;
        border-radius: 10px;
    }
    .back{
        height: 20px;
    }
    .forward{
        height: 20px;
    }
}