@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
p{
    margin: 0px;
}
.div_error{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.text_error{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
    margin-top: 5%;
}
.description_error{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
}
.link_return{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .text_error{
        font-size: 200px;
        margin-top: 30%;
    }
    .description_error{
        font-size: 26px;
        text-align: center;
    }
    .link_return{
        font-size: 20px;
        margin-top: 16%;
        margin-bottom: 16%;
    }
}

@media only screen and (max-width: 767px) {
    .text_error{
        font-size: 96px;
        margin-top: 55%;
    }
    .description_error{
        font-size: 18px;
        text-align: center;
    }
    .link_return{
        font-size: 14px;
        margin-top: 35%;
        margin-bottom: 35%;
    }
}