@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.div_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 2%;
}
.img_footer{
    padding-bottom: 2%;
}
.text_footer{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 24px;
    color: white;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .img_footer{
        width: 30%;
    }
    .text_footer{
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .div_footer{
        padding-top: 10%;
        padding-bottom: 7%;
    }
    .img_footer{
        width: 35%;
    }
    .text_footer{
        font-size: 12px;
    }
}