@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.header-card{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}
.logo{
    display: flex;
    width: 15%;
    padding-left: 10%;
}
.logo-img{
    width: 100%;
}
.nav-card{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    font-family: 'montserrat';
}
.nav-link{
    font-size: 24px;
    font-weight: bold;
    color: #FF6060;
    text-decoration: none;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .logo{
        width: 25%;
    }
    .nav-card{
        width: 25%;
    }
    .nav-link{
        font-size: 20px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 767px) {
    .logo{
        width: 30%;
    }
    .nav-card{
        width: 35%;
    }
    .nav-link{
        font-size: 12px;
        font-weight: 500;
    }
}