@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
.home_div{
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 10%;
  padding-left: 10%;
}
.div_banner_home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
  border-radius: 25px;
}
.title_banner_home{
  position: absolute;
  font-family: 'montserrat';
  font-weight: 500;
  font-size: 48px;
  color: white;
  margin: 0px;
  z-index: 1;
}
.home_picture{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  opacity: 70%;
}
.div_list_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 25px;
  margin-top: 3%;
  padding-top: 3%;
}
.div_card{
  width: 30%;
  background: linear-gradient(180deg, rgba(100, 38, 38, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  margin-bottom: 3%;
}
.link_card{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.title_card{
  position: absolute;
  width: 20%;
  margin: 0px;
  margin-bottom: 1%;
  font-family: 'montserrat';
  font-weight: 500;
  font-size: 18px;
  color: white;
  z-index: 1;
}
.img_card{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  border-radius: 10px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .div_banner_home{
    border-radius: 15px;
  }
  .title_banner_home{
    font-size: 34px;
  }
  .home_picture{
    border-radius: 15px;
  }
  .div_card{
    width: 45%;
  }
  .title_card{
    width: 35%;
    margin-left: 1%;
    margin-bottom: 1%;
  }
}

@media only screen and (max-width: 767px) {
  .div_banner_home{
    justify-content: flex-start;
    border-radius: 10px;
  }
  .title_banner_home{
    width: 60%;
    font-size: 24px;
    margin-left: 5%;
  }
  .home_picture{
    border-radius: 10px;
    object-fit: cover;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .div_list_card{
    background-color: white;
  }
  .div_card{
    width: 100%;
    height: 255px;
    margin-bottom: 5%;
  }
  .link_card{
    justify-content: flex-start;
  }
  .title_card{
    width: 70%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}