@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.div_host{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}
.host_name{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    width: 50%;
    text-align: end;
}
.div_img_host{
    background-color: #C4C4C4;
    border-radius: 50px;
    width: 64px;
    height: 64px;
}
.img_host{
    object-fit: cover;
    width: 100%;
    border-radius: 50px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .div_host{
        width: 20%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .host_name{
        font-size: 14px;
        width: 60%;
        margin-right: 2%;
    }
    .div_img_host{
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 767px) {
    .div_host{
        justify-content: flex-start;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .host_name{
        order: 2;
        font-size: 12px;
        width: 20%;
        margin-right: 2%;
    }
    .div_img_host{
        order: 3;
        width: 32px;
        height: 32px;
    }
}