@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
.div_location{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2%;
}
.location_title{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    width: 100%;
}
.location{
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}
.div_list_tags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 14px;
    color: white;
    background-color: #FF6060;
    width: 20%;
    height: 25px;
    margin-right: 1%;
    border-radius: 10px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .div_location{
        width: 70%;
    }
    .location_title{
        font-size: 28px;
    }
    .location{
        font-size: 20px;
    }
    .tag{
        font-size: 12px;
        border-radius: 10px;
        width: 30%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 767px) {
    .div_location{
        width: 100%;
        margin-top: 5%;
    }
    .location_title{
        font-size: 18px;
    }
    .location{
        font-size: 14px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .tag{
        font-size: 10px;
        border-radius: 10px;
        width: 30%;
        margin-right: 3%;
        margin-bottom: 1%;
    }
}