.lodging_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
}
.div_card_info_lodging{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-top: 2%;
}

@media only screen and (max-width: 767px) {
    .lodging_div{
        padding-top: 5%;
    }
    .div_card_info_lodging{
        width: 100%;
    }
}