.div_rating{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .div_rating{
        width: 100%;
        height: 20px;
        margin-top: 5%;
    }
}

@media only screen and (max-width: 767px) {
    .div_rating{
        width: 30%;
        height: 15px;
        order: 1;
        margin-right: 35%;
    }
}